<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto my-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right mhr">
                        <figure class="mx-auto" style="margin-top: 5rem!important;">
                            <img src="images/about.png" class="w-100" alt="">
                        </figure>
                    </div>
                    <div class=" col-md-6 col-12 main_header_left mx-auto mhl">
                        <p class="titleP">About Me</p>
                        <h1 class="desc">I am <span>MERN</span> stack developer and freelancer.</h1>
                        <a href="https://www.linkedin.com/in/aryan-nayak-b50291219/"
                            target="_blank"><button>About</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
